/*
Primary: Blue hues (dark to light)
#073C78;
#094E9B;
#1566C0;
#397CC7;
#5E95D2;

Secondary 1: Yellow hues (dark to light)
#B88F00;
#EEB800;
#FFC808;
#FFD339;
#FFDD66;

Secondary 2: Orange hues (dark to light)
#B84000;
#EE5300;
#ff5e08;
#FF7E39;
#FF9B66;

Primary colors swatch (r,g,b, etc.)
Red:	#F44336;
Pink:	#E91E63;
Purple:	#9C27B0;
Blue:	#2196F3;
Green:	#4CAF50;
Yellow:	#FDD835;
Orange:	#FF9800;
*/
body {
	background-color:#fff;
	font-family: 'Open Sans', sans-serif;
	padding-top: 5.9rem;
}
@media (min-width: 576px) {
	body {
		padding-top: 6.8rem;
	}
}
form #website {display:none;}
a {
	color:#3b196d;
}
header,h1,h2,h3,h4,h5,h6,.lead {
	color:#9C27B0;
	font-family: 'Salsa', cursive;
}
h1 small {
	color:#c49e34;
}
/* Primary colors */
.black {color:#000000;}
.red {color:#F44336;}
.pink {color:#E91E63;}
.purple {color:#9C27B0;}
.blue {color:#2196F3;}
.green {color:#4CAF50;}
.yellow {color:#FDD835;}
.orange {color:#FF9800;}
.white {color:#FFFFFF;}
/* Navbar */
.bg-navbar {
	background-color:#fff;
}
.navbar-brand img {
	max-height:78px;
}
@media (min-width: 576px) {
	.navbar-brand img {
		max-height:93px;
	}
}
.navbar-badge img {
	max-height:90px;
}
.navbar-light .navbar-nav .nav-link {
	color: #777;
	padding-right:18px;
	padding-left:18px;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
	background-color: #397CC7;
	color: #fff;
}
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
	color: #fff;
	background-color:#1565c0;
}
.navbar-light .navbar-toggler {
	color:#fff;
	border-color:#1565c0;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(21, 101, 192, 0.95)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.dropdown-item.active, .dropdown-item:active {
	color: #fff;
	text-decoration: none;
	background-color: #0d47a1;
}
/* Hero */
.hero {
	background-image:url(img/children.jpg);
	position: relative;
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	margin:0;
	/*min-width:1280px;*/
	text-align:center;
}
@media (min-width: 768px) {
	.hero {
		background-position:center -150px;
	}
}
.hero h1 {
	color:#ffffff;
	font-size:40px;
	font-weight:700;
	letter-spacing:1px;
	line-height:39px;
	margin-bottom:10px;
	padding-top:100px;
	text-shadow: 1px 2px 2px #222;
}
.hero .sub-heading {
	color:#ffffff;
	font-size:28px;
	font-weight:400;
	letter-spacing:normal;
	line-height:1.25;
	margin-bottom:10px;
	margin-top:0;
	padding-bottom:175px;
	text-shadow: 1px 2px 2px #222;
}
/* Jumbotron */
.jumbotron {
	background-color:#896db3;
}
.jumbotron h1,.jumbotron .lead {
	color:#fff;
	text-shadow: 1px 2px 2px #222;
}
/* Footer */
footer .light {
	background-color:#F3E5F5;
}
footer .dark {
	background-color:#E1BEE7;
}
footer a {
	color:#664597;
}
footer a:hover {
	color:#3b196d;
}
.contact-info,.copyright {
	color:#896db3;
}
@media (min-width: 768px) {
	.copyright {
		text-align:right;
	}
}
